%footer.mt-4
  .row
    .col-6
      %p
        %a{ href: "/" } Top
    .col-6
      %p Archives
      %ul
        %li
          %a{ href: "/archives/2019spring/index.html" } 2019 spring
        %li
          %a{ href: "/archives/2018summer/index.html" } 2018 summer
        %li
          %a{ href: "/archives/2018winter/index.html" } 2018 winter
