!!!
%html
  %head
    %title OSAFES - おさフェス

    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }

    %meta{ property: "og:title", content: "OSAFES" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:image", content: "https://osafes.tokyo/img/2018winter.jpg" }

    %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity: "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin: "anonymous" }
    %link{ rel: "stylesheet", href: "../../css/application.css" }
  %body.winter-2018
    %img{ src: "../../img/2018winter.jpg", width: "100%" }
    .container
      %h2 Information
      %table.table.table-hover
        %tbody
          %tr
            %th DATE
            %td 2018/02/25 Sun.
          %tr
            %th OPEN / START
            %td 11:45 / 12:00
          %tr
            %th ADV / DOOR
            %td
              %div
                %div ¥500
                %div （ドリンクチャージ別）

      %h2.mt-4 Timetable
      .row
        .col-3 12:00
        .col-9 塩振りフレンドリー
      .row
        .col-3 12:20
        .col-9 ナカメ浸水物語
      .row
        .col-3 13:00
        .col-9 uzzu
      .row
        .col-3 13:30
        .col-9 chichimow
      .row
        .col-3 14:10
        .col-9 MAGICIAN MAN
      .row
        .col-3 14:30
        .col-9 uzzu
      .row
        .col-3 15:00
        .col-9 #hiphop

      %h2.mt-4 Venue

      %div 六本木 LiveSpace 虎寅虎
      %a{ href: "https://www.tora-toratora.com/" } https://www.tora-toratora.com/

      %h2.mt-4 Place
      %div.my-2
        %a{ href: "https://www.google.co.jp/maps/place/%E8%99%8E%E5%AF%85%E8%99%8E/@35.665042,139.736417,15z/data=!4m5!3m4!1s0x0:0x4b5c26babf2ffc45!8m2!3d35.665042!4d139.736417",
          target: "_blank" } 別ウィンドウで開く
      %iframe{ src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12965.942616610731!2d139.736417!3d35.665042!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4b5c26babf2ffc45!2z6JmO5a-F6JmO!5e0!3m2!1sja!2sjp!4v1516503338128",
        width: "100%",
        height: "300",
        frameborder: "0",
        style: "border:0",
        allowfullscreen: true }

      = Haml::Engine.new(File.read('lp/partials/footer.html.haml')).render
