!!!
%html
  %head
    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=utf-8" }
    %title おさフェス

    :css
      html {
        height: 100%;
      }
      body {
        height: 100%;
        margin: 0;
        background: #0A0501;
      }
  %body
    %img{ src: "img/top.jpg", width: "100%" }
