html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: #0A0501;
  color: #FFFDF6;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
h2 {
  font-size: 1.3rem;
}
th {
  font-weight: normal;
}
