html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0 auto;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
body.spring-2019 {
  background: #BCAF9B;
  color: #FFFDF6;
}
body.summer-2018 {
  background: #D0D0CD;
  color: #333;
}
body.winter-2018 {
  background: #0A0501;
  color: #FFFDF6;
}
body.aw-2019 {
  background: #EEE;
  color: #333;
}
h2 {
  font-size: 1.3rem;
}
th {
  font-weight: normal;
}
